
.vs/Worktastic/xs/project-cache/Worktastic-Debug.json
bin/Debug/net7.0/Azure.Core.dll
bin/Debug/net7.0/Azure.Identity.dll
bin/Debug/net7.0/Humanizer.dll
bin/Debug/net7.0/Microsoft.AspNetCore.Cryptography.Internal.dll
bin/Debug/net7.0/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
bin/Debug/net7.0/Microsoft.AspNetCore.Diagnostics.EntityFrameworkCore.dll
bin/Debug/net7.0/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
bin/Debug/net7.0/Microsoft.AspNetCore.Identity.UI.dll
bin/Debug/net7.0/Microsoft.Bcl.AsyncInterfaces.dll
bin/Debug/net7.0/Microsoft.Data.SqlClient.dll
bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Abstractions.dll
bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Design.dll
bin/Debug/net7.0/Microsoft.EntityFrameworkCore.dll
bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Relational.dll
bin/Debug/net7.0/Microsoft.EntityFrameworkCore.SqlServer.dll
bin/Debug/net7.0/Microsoft.Extensions.DependencyModel.dll
bin/Debug/net7.0/Microsoft.Extensions.FileProviders.Embedded.dll
bin/Debug/net7.0/Microsoft.Extensions.Identity.Core.dll
bin/Debug/net7.0/Microsoft.Extensions.Identity.Stores.dll
bin/Debug/net7.0/Microsoft.Extensions.Options.dll
bin/Debug/net7.0/Microsoft.Identity.Client.dll
bin/Debug/net7.0/Microsoft.Identity.Client.Extensions.Msal.dll
bin/Debug/net7.0/Microsoft.IdentityModel.Abstractions.dll
bin/Debug/net7.0/Microsoft.IdentityModel.JsonWebTokens.dll
bin/Debug/net7.0/Microsoft.IdentityModel.Logging.dll
bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.dll
bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
bin/Debug/net7.0/Microsoft.IdentityModel.Tokens.dll
bin/Debug/net7.0/Microsoft.SqlServer.Server.dll
bin/Debug/net7.0/Microsoft.Win32.SystemEvents.dll
bin/Debug/net7.0/Mono.TextTemplating.dll
bin/Debug/net7.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
bin/Debug/net7.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
bin/Debug/net7.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/net7.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/net7.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/net7.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
bin/Debug/net7.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
bin/Debug/net7.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
bin/Debug/net7.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
bin/Debug/net7.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
bin/Debug/net7.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
bin/Debug/net7.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/net7.0/System.CodeDom.dll
bin/Debug/net7.0/System.Configuration.ConfigurationManager.dll
bin/Debug/net7.0/System.Drawing.Common.dll
bin/Debug/net7.0/System.IdentityModel.Tokens.Jwt.dll
bin/Debug/net7.0/System.Memory.Data.dll
bin/Debug/net7.0/System.Runtime.Caching.dll
bin/Debug/net7.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/net7.0/System.Security.Permissions.dll
bin/Debug/net7.0/System.Windows.Extensions.dll
bin/Debug/net7.0/Worktastic
bin/Debug/net7.0/Worktastic.deps.json
bin/Debug/net7.0/Worktastic.dll
bin/Debug/net7.0/Worktastic.pdb
bin/Debug/net7.0/Worktastic.staticwebassets.runtime.json
obj/Debug/net7.0/apphost
obj/Debug/net7.0/staticwebassets.build.json
obj/Debug/net7.0/staticwebassets.development.json
obj/Debug/net7.0/staticwebassets.pack.json
obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.Worktastic.props
obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.Worktastic.props
obj/Debug/net7.0/Worktastic.AssemblyInfo.cs
obj/Debug/net7.0/Worktastic.assets.cache
obj/Debug/net7.0/Worktastic.csproj.AssemblyReference.cache
obj/Debug/net7.0/Worktastic.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/Worktastic.csproj.FileListAbsolute.txt
obj/Debug/net7.0/Worktastic.dll
obj/Debug/net7.0/Worktastic.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/Worktastic.genruntimeconfig.cache
obj/Debug/net7.0/Worktastic.MvcApplicationPartsAssemblyInfo.cs
obj/Debug/net7.0/Worktastic.pdb
obj/project.assets.json
obj/project.nuget.cache
obj/Worktastic.csproj.nuget.dgspec.json
obj/Worktastic.csproj.nuget.g.props
obj/Worktastic.csproj.nuget.g.targets
